name: A04s-All-In-One-Builder

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip android-sdk-libsparse-utils xz-utils
          pip3 install --upgrade gdown --break-system-packages

      - name: Download Real Files
        run: |
          gdown --id 1A8sLEoItqNuoX1LnWJUKokZRPtHter_k -O miku.img --fuzzy
          gdown --id 1S11bA-SEtg0ILETxerkTNblU_361vF7B -O vendor.img --fuzzy

      - name: Build and Compress (XZ Ultra)
        run: |
          # Önce Raw'a çevir
          simg2img miku.img A04s_Miku_Full.img || cp miku.img A04s_Miku_Full.img
          
          echo "Aga 4.6GB dosya XZ ile sıkıştırılıyor, biraz sürebilir..."
          # XZ ile en yüksek seviyede (-9) sıkıştır
          xz -9 -T 0 A04s_Miku_Full.img
          
          # Dosya adını son haline getir
          mv A04s_Miku_Full.img.xz A04s_Miku_Elite.img.xz
          
          ls -lh A04s_Miku_Elite.img.xz

      - name: Create Miku Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v5.0-A04s-Compressed"
          name: "A04s Miku ROM - XZ Compressed"
          body: |
            ### VocaloidWorld1 - Efe Elite Dev
            - **Gerçek Boyut:** 4.6 GB (Ham)
            - **Sıkıştırılmış:** .img.xz formatında.
            - **Not:** Telefona kurmadan önce PC'de 7-Zip ile ayıklayın!
          files: A04s_Miku_Elite.img.xz
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
